*.pvsm
*.bin
*.vtk
species_*
fields.txt
CMakeCache.txt
.vscode
CMakeFiles/
Makefile
mini-pic
cmake_install.cmake
*pyc
__pycache__
.DS_Store
minipic.*
build*
html*
latex*
*.opt.yaml
external/
*.egg-info

CACHEDIR.TAG
bin/
lib/
man/
pyvenv.cfg
venv/

*.out
*.err
